:root{
--main-color: #225767;
--dop-color: #377570;
--table-color-head: #13262d;
--table-color-row: rgba(0, 125, 255, 0.15);
--table-color: #1a3a1d;
--link-color: #235c6b;
--link-color-active: #45959f;
--masterskier: #8f6fff;

--volont-bac-color: rgba(0,0,0,0.1);

--font-family-inter: 'Inter', sans-serif;
--font-family-lobster: 'Lobster', sans-serif;
--text-white: rgba(255, 255, 255, 1);
--text-rgb-34-87-103: rgba(34, 87, 103, 1);
--text-black: rgba(0, 0, 0, 1);
--text-rgb-51-51-51: rgba(51, 51, 51, 1);
}

/*================================================*/

button {
    * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
